body{
    font-family: 'Poppins', sans-serif;
    margin-left:50 px;
    font-size: 16px;
}
h1{
    font-size: 50px;
}
#side-line{
    border-left: 5px solid orangered;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 30%;
    padding-left: 5%;
}
.half-width img{
    width: 35%;
}
#stay-focused{
    margin-left: 50px;
    border-left: 5px solid;
    border-image: linear-gradient(salmon, orange);
    border-image: 1;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}
#center{
    text: font 16px;
    text-align: center;
}
.half-width{
    width: 75%;
    margin-bottom: 5%;
}
.half-width img{
    width: 50%;
}
.image{
    width: 50px;
}
.flexiable{
    display: flex;
}
.half-width-background{
    width: 30%;
    margin: 5px 5px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgb(203, 211, 218);
}
.half-width-background img{
    width: 200px;
}
.half-width-background1{
    width: 30%;
    margin: 5px 5px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: rgb(231, 213, 231);
}
.half-width-background1 img{
    width: 200px;
}
.half-width-background2{
    width: 30%;
    margin: 5px 5px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: rgb(203, 211, 218);
}
.half-width-background2 img{
    width: 30%;
}
.part1{
    width: 30%;
}
#part2{
    display: flex;
    padding-top: 50px;
    padding-left: 10%;
}
#pic{
    padding-left: 20%;
}
#ban1{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15%;
    background-position-x: 7cm;
}
#part3{
    display: flex;
    padding-top: 50px;
    padding-left: 20%;
}
#ban2{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: right 5cm;
    background-position-x: 80%;
}
footer{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    font-size: 10px;
}